
body {
  background: linear-gradient(135deg, #4e54c8, #8f94fb);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
}
register-form{
  padding-top: 100vh;
}
.remove-curso {
  background-color: #dc3545;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 0.5rem;
}

.remove-curso:hover {
  background-color: #c82333;
}
